@import "../../App.css";

.addToCart {
  width: max-content;
  background-color: #20202000;
  color: white;
  transition: var(--quickTransition);
}

.addToCart[data-incart="true"] {
  color: #45a94f;
}
