.header {
  width: 50%;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  justify-content: center;
}

.store h1 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}
