.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  margin-bottom: 2rem;
}

.navbar > div {
  display: flex;
  gap: 4rem;
}

.navbar button {
  background-color: rgba(240, 248, 255, 0);
  color: white;
  font-size: 1.3rem;
  border-radius: 0;
  font-weight: bold;
}

@media (max-width: 700px) {
  .ghBtn {
    display: none;
  }
  .navbar {
    padding: 0;
    margin-bottom: 1rem;
  }
  .navbar > div {
    gap: 1rem;
  }
}
