@import "../../App.css";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.intro {
  width: 700px;
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 15px;
  padding: 1rem;
}

.home h1 {
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

.home p {
  font-size: 1.5rem;
}

.splashVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-attachment: fixed;
  filter: blur(2px) brightness(0.7);
  transform: translateX(50px);
}

.intro a {
  display: grid;
  text-decoration: none;
}

.introBtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 1rem;
  font-size: large;
  border-radius: 20px;
  font-weight: bold;
  width: max-content;
  justify-self: center;
}

.introBtn:hover {
  background-color: var(--accentColor);
  color: rgb(255, 255, 255);
}

@media (max-width: 700px) {
  .home h1 {
    font-size: 4rem;
  }
  .home p {
    font-size: 1.2rem;
  }
}
