.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.intro {
  width: 700px;
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 15px;
  padding: 1rem;
}

.home h1 {
  font-size: 5rem;
  margin: 0;
}

.home p {
  font-size: 1.5rem;
}

.splashVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  background-attachment: fixed;
  filter: blur(2px) brightness(0.7);
  transform: translateX(50px);
}
